VITE_RAPIDAPI_KEY=fce0e15738msh6a87c0c9db9505cp14b74fjsn54bc768f3bc7
VITE_RAPIDAPI_HOST=axesso-walmart-data-service.p.rapidapi.com
VITE_RAPIDAPI_BASE_URL=https://axesso-walmart-data-service.p.rapidapi.com
VITE_APP_VERSION=0.0.1
